a {
  text-decoration: none;
  /* color: black; */
}

li {
  margin: 0 0 0 16px;
}

.skills {
  margin: 0 6%;
  display: flex;
  flex-direction: row;
}

.skill {
  /* background-color: var(--entry); */
  align-items: center;
  padding: 8px;
  margin: 0px 10px;
  width: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  position: relative;
  cursor: pointer;
}

.skill span {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--primary);
  opacity: 0;
  /* transform: translateY(10px); */
}

.skill::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: var(--primary);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.skill:hover::before {
  transform: scaleX(1);
}

.skill h2 {
  margin: 0px;
}

.myrepos {
  overflow-x: scroll;
  margin: 0 6%;
}

#repoList {
  display: inline-flex;
  padding: 0 4px;
}

.repo {
  background-color: var(--entry);
  padding: 8px;
  margin: 10px;
  width: 260px;
  height: 200px;
  border-radius: 10px;
  transition: transform .5s ease; /* ゆっくり変化させる */
}

.repo:hover{
  transform: scale(1.1); /* 拡大 */
}

.repo a:hover{
  color: var(--primary);
}

.repo p {
  margin: 8px;
}

.repo a {
  width: 100%;
}

.repo_name {
  font-size: large;
  height: 26px;
  overflow: hidden;
  white-space: nowrap;
}

.repo_disc {
  height: 70px;
  overflow: hidden;
}

.post_p {
  padding: 0;
  margin: 10px 20px;
}

.myposts {
  margin: 0 6%;
}

.post {
  background-color: var(--entry);
  padding: 12px;
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  display: inline-block;
}

.post b {
  font-size: x-large;
}

.post_detail {
  height: max-content;
  width: 70%;
  float: right;
}

.post_detail:hover {
  color: #42b983;
}

.post_img {
  height: 280px;
  width: 30%;
  float: left;
}

@media all and (max-width: 1000px) {

  .post_detail {
    width: 100%;
  }

  .post_img {
    margin-left: 5%;
    width: 90%;
  }
}