a {
  text-decoration: none;
  color: black;
}

.fa {
  margin-left: 10px;
}

.myposts {
  margin: 0 6%;
}

.post {
  background-color: whitesmoke;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: fit-content;
  display: inline-block;
}

.post b {
  font-size: xx-large;
}

.post_detail {
  margin-left: 10px;
  height: max-content;
  width: 70%;
  float: right;
}

.post_detail:hover {
  color: darkblue;
}

.post_img {
  height: 280px;
  width: 28%;
  float: left;
}

@media all and (max-width: 1000px) {
  .post_detail {
    width: 100%;
  }

  .post_img {
    width: 100%;
  }
}