a {
  text-decoration: none;
  /* color: black; */
}

li {
  margin: 0 0 0 16px;
}

.myrepos {
  display: inline-flex;
  padding: 0 4px;
}

.repo {
  background-color: var(--entry);
  padding: 8px;
  margin: 10px;
  width: 260px;
  height: 200px;
  border-radius: 10px;
  transition: transform .5s ease; /* ゆっくり変化させる */
}

.repo:hover{
  transform: scale(1.1); /* 拡大 */
}

.repo a:hover{
  color: var(--primary);
}

.repo p {
  margin: 8px;
}

.repo a {
  width: 100%;
}

.repo_name {
  font-size: large;
  height: 26px;
  overflow: hidden;
  white-space: nowrap;
}

.repo_disc {
  height: 70px;
  overflow: hidden;
}

.post_p {
  padding: 0;
  margin: 10px 20px;
}

.myposts {
  margin: 0 6%;
  overflow-x: scroll;
}

.post {
  background-color: var(--entry);
  padding: 12px;
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  display: inline-block;
}

.post b {
  font-size: x-large;
}

.post_detail {
  height: max-content;
  width: 70%;
  float: right;
}

.post_detail:hover {
  color: #42b983;
}

.post_img {
  height: 280px;
  width: 30%;
  float: left;
}

@media all and (max-width: 1000px) {

  .post_detail {
    width: 100%;
  }

  .post_img {
    margin-left: 5%;
    width: 90%;
  }
}