<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/314069a903.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/markdown.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
    <link rel="icon" href="{{ site.favicon | relative_url }}">
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <a href="/" class="header-logo"><img class="logo" src="{{'assets/images/kei.png' | relative_url}}"></a>
          <a href="/" class="header-name">{{site.name}}</a>
        </div>
        <div class="header-right">
          <a id="sun_moon" class="fa fa-moon-o" onclick="darkButton()"></a>
          <script src="/assets/js/darkmode.js"></script>
          <a href="/">Home</a>
          <a href="{{ 'blogs' | relative_url }}">Blog</a>
          <a href="{{ 'notes' | relative_url }}">Note</a>
          <a href="{{ 'posts' | relative_url }}">Post</a>
        </div>
      </div>
    </header>
    {{ content }}
    <footer>
      <div class="btn-wrapper">
        <a href="mailto:jikuya[at]cv.info.gifu-u.ac.jp" class="bottom-btn email"><i class="fa fa-envelope fa-2x"></i></a>
        <a href="https://twitter.com/jky_kei" class="bottom-btn twitter" target="_blank"><i class="fa-brands fa-x-twitter fa-2x"></i></a>
        <a href="https://github.com/Absolute-Value" class="bottom-btn github" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      </div>
      <div class="container">
        <p>Copyright © 2022 - 2023 Keisuke JIKUYA</p>
      </div>
    </footer>
  </body>
</html>