<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/markdown.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
    <link rel="icon" href="{{ site.favicon | relative_url }}">
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <a href="{{ 'index' | relative_url }}" class="header-logo"><img class="logo" src="{{'assets/images/kei.png' | relative_url}}"></a>
          <a href="{{ 'index' | relative_url }}" class="header-name">{{site.name}}</a>
        </div>
        <div class="header-right">
          <script src="/assets/js/darkmode.js"></script>
          <a class="fa fa-moon-o" onclick="dark_btn()"></a>
          <a href="{{ 'index' | relative_url }}">Home</a>
          <a href="{{ 'blogs' | relative_url }}">Blog</a>
          <a href="{{ 'notes' | relative_url }}">Note</a>
          <a href="{{ 'posts' | relative_url }}">Post</a>
        </div>
      </div>
    </header>
    {{ content }}
    <footer>
      <div class="btn-wrapper">
        <a href="mailto:jikuya[at]cv.info.gifu-u.ac.jp" class="bottom-btn email"><i class="fa fa-envelope fa-2x"></i></a>
        <a href="https://twitter.com/jky_kei" class="bottom-btn twitter"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://github.com/Absolute-Value" class="bottom-btn github"><i class="fa fa-github fa-2x"></i></a>
      </div>
      <div class="container">
        <p>2022 Copyright</p>
      </div>
    </footer>
  </body>
</html>