---
layout: header
---

<!DOCTYPE html>
<html>
  <title>{{page.title}}</title>
  <head>
    <script src="https://kit.fontawesome.com/314069a903.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/posts.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}">
  </head>
  <body>
    <div class="top-wrapper">
      <div class="container">
        <a href="{{ relative_url }}"><img class="icon" src="{{ site.icon | relative_url }}"></a>
        <h1>{{page.title}}</h1>
        <div class="btn-wrapper">
          <a href="mailto:jikuya[at]cv.info.gifu-u.ac.jp" class="btn email"><i class="fa fa-envelope fa-2x"></i></a>
          <a href="https://twitter.com/jky_kei" class="btn twitter" target="_blank"><i class="fa-brands fa-x-twitter fa-2x"></i></a>
          <a href="https://github.com/Absolute-Value" class="btn github" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>

    <a id="Profile"></a>
    <h1>自己紹介 | Profile</h1>

    <h2>経歴 | History</h2>
    <p>
      2022.04 - 2024.03: <a href="http://gnst.gifu-u.ac.jp/intellscieng/" class="master" target="_blank">岐阜大学 自然科学技術研究科 知能理工学専攻 知能情報学領域</a><br>
      2018.04 - 2022.03: <a href="http://www.eng.gifu-u.ac.jp/jyouhou/" class="bachelor" target="_blank">岐阜大学 工学部 電気電子・情報工学科 情報コース</a>
    </p>
    <p>
      2022.04 - 2024.03: <a href="http://gnst.gifu-u.ac.jp/intellscieng/" class="master" target="_blank">Master of Engineering, Department of Information Science, Graduate School of Engineering, Gifu University</a><br>
      2018.04 - 2022.03: <a href="http://www.eng.gifu-u.ac.jp/jyouhou/" class="bachelor" target="_blank">Bachelor of Engineering. Department of Information Science, Faculty of Engineering, Gifu University</a>
    </p>

    <h2>研究室 | Laboratory</h2>
    <p>〒501-1193</p>
    <p>岐阜県岐阜市柳戸1-1</p>  
    <p>
      <a href="http://www.cv.info.gifu-u.ac.jp/" class="labo" target="_blank">岐阜大学 工学部 電気電子・情報工学科 加藤研究室</a>
    </p>

    <h2>発表 | Publication</h2>
    <h3>国内学会 | Domestic Conference</h3>
    <p>
      <a href="https://confit.atlas.jp/guide/event/ssii2022/subject/IS2-19/tables?cryptoId=" class="other" target="_blank"><u>軸屋敬介</u>，加藤邦人，"複雑背景下での対象領域を考慮した異常検知"，第28回画像センシングシンポジウム SSII 2022，IS2-19，2022.6.9</a>
      <a href="bachelor" class="other" target="_blank"><i class="fa-solid fa-file-pdf email" style="color:gray"></i></a>
    </p>
    <p>
      <a href="https://www.tc-iaip.org/dia/2024/program.html#os3" class="other" target="_blank"><u>軸屋敬介</u>，梁瀬和哉，表英輝，土田裕登，加藤邦人，"大規模Vision&Languageマルチタスクモデルの学習効率化とHuman-Object Interactionへの適用"，動的画像処理実利用化ワークショップ DIA 2024，OS3-2 (IS3-2)，2024.3.5</a>
      <a href="master" class="other" target="_blank"><i class="fa-solid fa-file-pdf email" style="color:gray"></i></a>
    </p>
    <h3>国際学会 | International Conference</h3>
    <p>
      <a href="https://sites.google.com/view/iw-fcv2024/conference" class="other" target="_blank">Kazuya Yanase，<u>Keisuke Jikuya</u>，Hideaki Omote，Hiroto Tsuchida，Kunihito Kato，"Constructing Lightweight Large Vision-Language Model: A Target Approach to Downstream Tasks"，IW-FCV 2024，OS6-1，2024.2.20</a>
    </p>

    <h1>スキル | Skills</h1>
    <div class="skills">
      <div class="skill" onclick="showDetails(this)">
        <i class="fa-brands fa-python fa-2x" style="color:#3572A5"></i>
        <span>Python</span>
      </div>
      <div class="skill" onclick="showDetails(this)">
        <i class="fa-solid fa-fire fa-2x" style="color:#e34c26"></i>
        <span>Pytorch</span>
      </div>
      <div class="skill" onclick="showDetails(this)">
        <i class="fa-brands fa-java fa-2x" style="color:#b07219"></i>
        <span>Java</span>
      </div>
      <div class="skill" onclick="showDetails(this)">
        <i class="fa-brands fa-unity fa-2x" style="color:#222c37"></i>
        <span>Unity</span>
      </div>
      <div class="skill" onclick="showDetails(this)">
        <i class="fa-brands fa-html5 fa-2x" style="color:#e34c26"></i>
        <span>HTML</span>
      </div>
      <div class="skill" onclick="showDetails(this)">
        <i class="fa-brands fa-css3-alt fa-2x" style="color:#563d7c"></i>
        <span>CSS</span>
      </div>
      <div class="skill" onclick="showDetails(this)">
        <i class="fa-brands fa-js fa-2x" style="color:#f1e05a"></i>
        <span>JavaScript</span>
      </div>
      <div class="skill" onclick="showDetails(this)">
        <i class="fa-brands fa-ubuntu fa-2x" style="color:#e34c26"></i>
        <span>Ubuntu</span>
      </div>
      <div class="skill" onclick="showDetails(this)">
        <i class="fa-brands fa-docker fa-2x" style="color:#339af0"></i>
        <span>Docker</span>
      </div>
      <div class="skill" onclick="showDetails(this)">
        <i class="fa-brands fa-github fa-2x" style="color:gray"></i>
        <span>GitHub</span>
      </div>
    </div>

    <div id="popup"></div>
    <script src="/assets/js/popup.js"></script>

    <h1>Recent GitHub Repositories</h1>
    <div class="myrepos"><div id="repoList"></div></div>
    <script src="/assets/js/github_repositories.js"></script>

    <h1>Recent Posts</h1>
    <div class="myposts">
      {% assign count = 0 %}
      {% for post in site.posts %}
        {% if post.layout == 'post'%}
          {% if count < 3 %}
            <div class="post">
              <a href="{{ post.url }}">
                <img class="post_img" src="{{post.hero | relative_url}}">
                <div class="post_detail">
                  <p>
                    <b>{{ post.title }}</b>
                  </p>
                  <p>{{ post.excerpt | remove:'概要' }}</p>
                  <p>
                    <span class="fa fa-calendar"></span> {{ post.date | date: "%b %-d, %Y" }}
                    <span class="fa fa-folder"></span> {{ post.category }}
                    <span class="fa fa-graduation-cap"></span> {{post.conference}} ({{post.year}})
                  </p>
                </div>
              </a>
            </div>
            {% assign count = count | plus: 1 %}
          {% else %}
            {% break %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="btn-wrapper">
      <a href="{{'posts' | relative_url}}" class="btn back_btn">View more</a>
    </div>

    <h1>Recent Notes</h1>
    <div class="myposts">
      {% assign count = 0 %}
      {% assign pages = site.pages | sort: "update" | reverse %}
      {% for note in pages %}
        {% if note.category == 'Note' %}
          {% if count < 3 %}
            <div class="post">
              <a href="{{ note.url }}">
                <img class="post_img" src="{{ note.hero | relative_url }}">
                <div class="post_detail">
                  <p>
                    <b>{{ note.title }}</b>
                  </p>
                  <p>{{ note.excerpt }}</p>
                  <p>
                    <span class="fa fa-calendar"></span> 
                    {% if note.update == note.date %}
                      {{ note.date | date: "%b %-d, %Y" }}
                    {% else %}
                      {{ note.update | date: "%b %-d, %Y" }}
                      <span style="color: #4980ff; "> (Updated)</span>
                    {% endif %}
                    <span class="fa fa-flag"></span> 
                    {% for tag in note.tags %}
                      {{tag}}, 
                    {% endfor %}
                  </p>
                </div>
              </a>
            </div>
            {% assign count = count | plus: 1 %}
          {% else %}
            {% break %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="btn-wrapper">
      <a href="{{'notes' | relative_url}}" class="btn back_btn">View more</a>
    </div>

    <h1>Recent Blogs</h1>
    <div class="myposts">
      {% assign count = 0 %}
      {% assign pages = site.pages | sort: "update" | reverse %}
      {% for note in pages %}
        {% if note.category == 'Blog' %}
          {% if count < 3 %}
            <div class="post">
              <a href="{{ note.url }}">
                <img class="post_img" src="{{ note.hero | relative_url }}">
                <div class="post_detail">
                  <p>
                    <b>{{ note.title }}</b>
                  </p>
                  <p>{{ note.excerpt }}</p>
                  <p>
                    <span class="fa fa-calendar"></span> 
                    {% if note.update == note.date %}
                      {{ note.date | date: "%b %-d, %Y" }}
                    {% else %}
                      {{ note.update | date: "%b %-d, %Y" }}
                      <span style="color: #4980ff"> (Updated)</span>
                    {% endif %}
                    <span class="fa fa-flag"></span> 
                    {% for tag in note.tags %}
                      {{tag}}, 
                    {% endfor %}
                  </p>
                </div>
              </a>
            </div>
            {% assign count = count | plus: 1 %}
          {% else %}
            {% break %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="btn-wrapper">
      <a href="{{'blogs' | relative_url}}" class="btn back_btn">View more</a>
    </div>
    
  </body>
</html>