---
layout: default
---

<!DOCTYPE html>
<html>
  <title>{{page.title}}</title>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/posts.css' | relative_url }}">
  </head>
  <body>
    {{ content }}
    <div class="myposts">
      {% assign pages = site.pages | sort: "update" | reverse %}
      {% for note in pages %}
        {% if note.category == page.list %}
          {% if note.update %}
          <div class="post">
            <a href="{{ note.url }}">
              <img class="post_img" src="{{ note.hero | relative_url }}">
              <div class="post_detail">
                <p>
                  <b>{{ note.title }}</b>
                </p>
                <p>{{ note.excerpt }}</p>
                <p>
                  <span class="fa fa-calendar"></span> {{ note.update | date: "%b %-d, %Y" }}
                  <span class="fa fa-flag"></span> {% for tag in note.tags %}{{tag}}, {% endfor %}
                </p>
              </div>
            </a>
          </div>
          {% else %}
          <div class="post">
            <a href="{{ note.url }}">
              <img class="post_img" src="{{ note.hero | relative_url }}">
              <div class="post_detail">
                <p>
                  <b>{{ note.title }}</b>
                </p>
                <p>{{ note.excerpt }}</p>
                <p>
                  <span class="fa fa-calendar"></span> {{ note.date | date: "%b %-d, %Y" }}
                  <span class="fa fa-flag"></span> {% for tag in note.tags %}{{tag}}, {% endfor %}
                </p>
              </div>
            </a>
          </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </body>
</html>