---
layout: header
---

<!DOCTYPE html>
<html>
  <title>{{page.title}}</title>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <img src="{{page.hero | relative_url}}" class="hero">
    <h1>{{page.title}}</h1>
    <p><span class="fa fa-calendar"></span> {{ page.date | date: "%b %-d, %Y" }}{% if page.update != page.date %}<span style="color: blue; "> (Updated: {{ page.update | date: "%b %-d, %Y" }})</span>{% endif %}</p>
    <p><span class="fa fa-flag"></span> {% for tag in page.tags %}{{tag}}, {% endfor %}</p>
    <div class="share-btn-wrapper">
      <a href="https://twitter.com/share?text={{page.title}}&url=https://absolute-value.github.io{{page.url}}" class="share-btn share-twitter"><span class="fa fa-twitter fa-2x"></span></a>
      <a href="https://www.facebook.com/sharer.php?u=https://absolute-value.github.io{{page.url}}" class="share-btn share-facebook"><span class="fa fa-facebook fa-2x"></span></a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://absolute-value.github.io{{page.url}}&title={{page.title}}" class="share-btn"><span class="fa fa-linkedin fa-2x"></span></a>
      <a href="mailto:?subject={{page.title}}&body={{page.title}} https://absolute-value.github.io{{page.url}}" class="share-btn share-email"><span class="fa fa-envelope fa-2x"></span></a>
    </div>
    {{content}}
    <div class="btn-wrapper">
      <a href="{{ 'notes' | relative_url}}" class="btn back_btn">一覧へ戻る</a>
    </div>
  </body>
</html>