---
layout: header
---

<!DOCTYPE html>
<html>
  <title>{{page.title}}</title>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% include mathjax-v3.html %}
  </head>
  <body>
    <img src="{{page.hero | relative_url}}" class="hero">
    <h1>{{page.title}}</h1>
    <p><span class="fa fa-link"></span><a href="{{ page.link }}"> {{ page.link }}</a></p>
    <p><span class="fa fa-calendar"></span> {{ page.date | date: "%b %-d, %Y" }}</p>
    <p><span class="fa fa-flag"></span> {% for tag in page.tags %}{{tag}}, {% endfor %}</p>
    <p><span class="fa fa-graduation-cap"></span> {{page.conference}} ({{page.year}}) </p>
    {{content}}
    <div class="btn-wrapper">
      <a href="{{'posts' | relative_url}}" class="btn back_btn">一覧へ戻る</a>
    </div>
  </body>
</html>